{% extends 'base.html.twig' %}

{% block title %}Edit Restaurant{% endblock %}

{% block body %}

<div class="row">

            <div class="card">
                  <a href="{{ path('restaurant_index') }}"  class="ri-arrow-left-circle-fill" style="font-size: 50px"></a>

                <div class="card-body">
    <h1>Modifier Restaurant</h1>

    {{ include('restaurant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('restaurant_index') }}">retourner à la  liste</a>

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
