{% extends 'base.html.twig' %}

{% block title %}Menuplat index{% endblock %}

{% block body %}
    <h1>Menuplat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menuplat in menuplats %}
            <tr>
                <td>{{ menuplat.id }}</td>
                <td>
                    <a href="{{ path('menuplat_show', {'id': menuplat.id}) }}">show</a>
                    <a href="{{ path('menuplat_edit', {'id': menuplat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('menuplat_new') }}">Create new</a>
{% endblock %}
