{% extends 'base.html.twig' %}

{% block title %}Edit Plat{% endblock %}

{% block body %}
 <div class="row">

            <div class="card">
                  <a href="{{ path('plat_index') }}"  class="ri-arrow-left-circle-fill" style="font-size: 50px"></a>

                <div class="card-body">
                    <h5 class="card-title">Modifier ce Plat</h5>
    <h1>Modifier Plat</h1>

    {{ include('plat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('plat_index') }}">retourner à la liste</a>

    {{ include('plat/_delete_form.html.twig') }}
{% endblock %}
